<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="base.board.BoardMapper">

   <select id="selectBoardList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT /* BoardMapper.selectBoardList 게시판 조회 */
				A.SEQ
				, A.CATEGORY
				, B.CODE_NAME
				, A.TITLE
				, A.BODY_TEXT
				, A.ORIGIN_BOARD_SEQ
				, A.ORDER_NUM
				, A.REG_ID
				, A.REG_DT
				, DATE_FORMAT(A.CNG_DT, '%Y-%m-%d %H:%i:%s') CNG_DT
		  FROM MAIN_BOARD A , CODE B
		  WHERE A.CATEGORY = B.CODE
		   AND B.CODE_TYPE = 'BOARD'
			<if test="seq != null and seq != '' ">AND A.SEQ = #{seq}</if>
			<if test="title != null and title != '' ">AND A.TITLE LIKE #{title}</if>
			<if test="category != null and category != '' ">AND A.CATEGORY = #{category}</if>
		ORDER BY SEQ
    </select>

	<select id="selectBoardOne" parameterType="String" resultType="java.util.HashMap">
		SELECT /* BoardMapper.selectBoardView 게시판 상세 조회 */
				A.SEQ
				, A.CATEGORY
				, B.CODE_NAME
				, A.TITLE
				, A.BODY_TEXT
				, A.ORIGIN_BOARD_SEQ
				, A.ORDER_NUM
				, A.REG_ID
				, DATE_FORMAT(A.REG_DT, '%Y-%m-%d') REG_DT
				, A.CNG_DT
		  FROM MAIN_BOARD A , CODE B
		 WHERE A.SEQ = #{seq}
		   AND A.CATEGORY = B.CODE
		   AND B.CODE_TYPE = 'BOARD'
	</select>
    
	<insert id="insertBoardOne" parameterType="java.util.HashMap">
		INSERT /* BoardMapper.selectBoardList 게시판 조회 */
		INTO MAIN_BOARD(
			SEQ
			, CATEGORY
			, TITLE
			, BODY_TEXT
			, ORIGIN_BOARD_SEQ
			, ORDER_NUM
			, REG_ID
			, REG_DT
			, CNG_DT
			)
		VALUES(
			nextval(BOARD_SEQ)
			, #{category}
			, #{title}
			, #{bodyText}
			, #{originBoardSeq}
			, #{orderNum}
			, #{regId}
			, CURRENT_TIMESTAMP()
			, CURRENT_TIMESTAMP()
			)
	</insert>    

	<update id="updateBoardOne">
		UPDATE MAIN_BOARD
		SET    CATEGORY  = #{category},
		       TITLE     = #{title},
		       BODY_TEXT = #{bodyText},
		       CNG_DT    = CURRENT_TIMESTAMP()
		WHERE SEQ = #{seq}
	</update>
	
	<delete id="deleteBoardOne">
		DELETE FROM MAIN_BOARD
		WHERE  SEQ = #{seq}
	</delete>	
</mapper>