<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="base.comm.system.SystemSetMapper">

   <select id="selectMenuList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		WITH RECURSIVE menu AS ( /* SystemSetMapper.selectMenuList 메뉴 조회 */
			SELECT URL
				, PARENT_URL
				, MENU_NAME
				, 1 AS LEVEL
			  FROM SYSTEM_MENU
			 WHERE USE_YN = 'Y'
			   AND URL = '/'
			UNION ALL
			SELECT A.URL
				, A.PARENT_URL
				, A.MENU_NAME
				, 1 + LEVEL AS LEVEL
			  FROM SYSTEM_MENU A
			 INNER JOIN menu ON A.PARENT_URL = menu.URL
			 WHERE A.USE_YN = 'Y'
		)
		SELECT URL
			, PARENT_URL
			, MENU_NAME
			, LEVEL
		FROM menu
    </select>
<!-- 
		SELECT /* MenuMapper.selectMenuList 메뉴 조회 */
				LEVEL
				, URL
				, MENU_NAME
				, ORDER_NUM 
		  FROM MENU
		 WHERE USE_YN = 'Y' 
		   AND TARGET_SYS_GROUP = 'APP'
		 START WITH PARENT_URL = 'R'
		CONNECT BY PRIOR URL = PARENT_URL
		ORDER SIBLINGS BY ORDER_NUM
 -->


</mapper>